.form{
    padding: 5% 5%;

}
.btn-default:focus, .btn-default:hover {
    background-color: #009973;
    color: white;
    border: none;
}

.btn-default {
    background-color: #00cc99;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;

}