.navbar{
	background-color: #00cc99;
	font-size: 16px;
	border: none;
	border-radius: 0;
	padding: 0 15%;
	margin-bottom: 10px;
}
.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-nav>li>a{
	color: white
}
.navbar-inverse .navbar-nav>li>a:hover{
	background-color: #009973;
}
li.active>a{
	background-color: #009973;
}
.form{
	color:#737373;
	/*margin-top: 10px;*/
	background-color:  #f2f2f2;
	/*padding: 1% 1%;*/
	border: 1px solid #a7c1cd;
	border-radius: 20px;

}
body{
	background-color:#e6fff9;

}
footer > span{
	display: block;
	text-decoration: none;
	font-size: 13px;

}
footer.container-fluid{
	color:  #00cc99 ;
	padding: 0;
	position: fixed; /* Фиксированное положение */
	left: 0;
	bottom: 0;
	width: 100%;


}

*{
	font-family: Tahoma, sans-serif;

}
.dropbtn {
	background-color:  #00cc99;
	color: white;
	/*padding: 16px;*/
	/*font-size: 16px;*/
	border: none;
	/*width: 150px;*/

}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 143px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #737373;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f2f2f2}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #009973;
}
a.dropbtn{
	color: white;
	position: relative;
	display: block;
	padding: 15px 15px;

	line-height: 20px;
}
a:hover{
	text-decoration: none;

}
#cartvalue{
	font-size: medium;
	padding: 5px 0 0;
	margin-left: -130%;
}
.input-group-btn>.btn{
	height: 34px;
}
.container-fluid{
	padding-right: 0;
	padding-left: 0;
}
.tbody{
	font-size: 14px;
}
.medicineForAdd{
	font-size: 12px;
}
.table{
	 margin-bottom: 0;
 }
h2{
	margin-top: 0px;
}
span.error{
	color: red;
	font-size: 12px;
}
.edit{
	margin-bottom: 0;
}
label.required:after {
	color: red;
	content: " *";
}
.helper {
	position: relative;
	display: block;
	color: #999;
	font-size: 10px;
	/*top: -6px;*/
	left: 1%;
}
h2{
	color: #737373;
}
.pagination>.active>a{
	background-color:  #00cc99;
	border: none;

}
.pagination>.active>a:hover{
	background-color: #009973;
	border: none;

}
.shadow {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
span.hello{
	color:white;
	font-style: italic;
}
.table>tbody>tr>td{
	padding: 5px;
	color: #737373;

}
.right_table{
	text-align: right;
}
.center_table{
	 text-align: center;

 }

.table>tbody>tr>td,.table>tfoot>tr>td {
	padding: 5px;
	vertical-align: middle;

}
.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>th{
	color: #737373;

}
.group-input{
	padding-left: 0;
}

select{
	padding: 1px 0;

}