.button{
    margin-top: 7%;

}
button{
    background-color: #00cc99;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
}
.flex-container{
    display: flex;
    justify-content: center;

}
.table>tbody>tr.top>td,
.table>tbody>tr.top>th{
    border-top: none;
}
a:hover{
    text-decoration: none;
    color:white;
    background-color: #009973;

}
a{
    color:white;
}
input[type=date]{
    background-color: #f2f2f2;
    border: none;
}