.button{
    margin-top: 7%;

}
button{
    background-color: #00cc99;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
}
.flex-container {
    display: flex;
    justify-content: center;

}

.container {
    margin-top: 7%;
}

button:hover {
    background-color: #009973;
    color: white;
}

button > a, button > a:hover {
    text-decoration: none;
    color: white;
}